#content{
padding: 0.5rem;
}
.header{
padding: 0.5rem;
position: fixed;
}
.form-text{
padding: 1rem;
}
.form-text h4{
color: black;
margin: 1rem;
font-weight: bold;
}
.form-text p{
color: black;
margin: 1rem;
}
.titre{
text-decoration: none;
background-color: black;
color: white;
padding: 0.5rem;
margin: 1rem;
border-radius: 7px;
box-shadow: 1px 1px 5px 1px lightgray;
font-weight: bold;
width: 150px;
}
.se{
color: gray;
font-size: 11px;
text-align: center;
}
form label{
margin-top: 0.3rem;
margin-bottom: 0.3rem;
color: rgb(75, 75, 75);
font-size: 14px;
}

.titres{
color: rgb(14, 202, 202);
}

.formulaire{  
border-radius: 7px;
padding: 0.5rem;
margin-top: 3em;
box-shadow: 1px 1px 5px 1px lightgray;
color: #212F3D;
background-color: white;
}
form{
padding: 1rem;
}
.formulaire h4{
font-weight: bold;
}
.btn-submit-register{
background-color: rgb(14, 202, 202);
color: white;
border-radius: 3px;
padding: 0.5rem;
margin-top: 1rem;
border:none;
}
.btn-submit-register:hover{
transition: .5s;
background-color: rgb(12, 107, 107);
}
.verify-password{
padding: 0.5rem;
margin-top:1rem;
border-radius: 5px;
background-color: rgb(240, 240, 240);
}
.verify-password p{
font-size: 11px;
}
#finish{
visibility: hidden;
}
.ver{
margin-top: 1rem;
}
.text-dur{
padding: 1rem;
}
.one-te{
padding: 1rem;
border-radius: 7px;
box-shadow: 1px 1px 5px 1px lightgray;
margin: 0.5rem;
}
.one-te i{
margin: 1.8rem;
}



